<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  </head>
  <body class="fg-white bg-dark">
    <h1>Realtime Detection</h1>
    <div class="row">
      <div class="cell-8 offset-3">
        <div class="img-container thumbnail">
          <!-- content here -->
          <img src="{{ url_for('video_feed') }}">
        </div>
        <button class="image-button success large" onclick="location='/'"
                <span class="mif-checkmark icon"></span>
                <span class="caption">Home</span>
        </button>
      </div>
    </div>
    <!-- jQuery first, then Metro UI JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>